<style>


</style>
{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary  navbar-blue">
  <div class="container-fluid">
      <div><img src="{% static "logo/images/tyler.png" %}" style='width:35px;height:35px;border-radius:10%'></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class='nav-item'><a class='nav-link' >Data&nbsp;Science</a></li>
       <li class='nav-item'><a class='nav-link' >Space&nbsp;talk</a></li>
       <li class='nav-item'><a id='referesh_cnt' class='nav-link'></a></li>
      </ul>
      <form class="d-flex" role="search" onsubmit="return false" id='formSearch'>
         
        <input class="form-control me-2" type="search" placeholder="Search by blog title" aria-label="Search" name="search" id='search'> 
        <button class="btn btn-success"  onclick='searchBlog()'  data-bs-target="#modal-search" data-bs-toggle="modal">Search</button>
         {% csrf_token %}
      </form>
      <div><a style="cursor:pointer;" href="{% url "forum" %}"><i class="bi bi-arrow-clockwise"></i></a></div>
    </div>
  </div>
</nav>

