<style>


</style>
{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary  navbar-blue">
  <div class="container-fluid">
      <div><img src="{% static "logo/images/tyler.png" %}" style='width:35px;height:35px;border-radius:10%'></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class='nav-item'><a class='nav-link' >Data&nbsp;Science</a></li>
       <li class='nav-item'><a class='nav-link' >Space&nbsp;talk</a></li>
       <li class='nav-item'><a id='referesh_cnt' class='nav-link'></a></li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 collapse-menu">
        <li class='nav-item'><a class="nav-link active" aria-current="page" href="{% url "forum" %}"><i class="bi bi-house"></i>&nbsp;Home</a></li>
      <li class='nav-item dropdown '><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="bi bi-file-earmark-post"></i>&nbsp; post</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" data-bs-toggle='modal' data-bs-target="#blog-modal" style='color:rgb(6, 81, 143) !important;'>Post a blog</a>
                <a class="dropdown-item" style='color:rgb(6, 81, 143) !important;'>Your posts</a>
              </li>
            </ul></li>
      <li class='nav-item'><a class="nav-link active" aria-current="page" href="{% url "forum" %}"><i class="bi bi-chat-dots-fill"></i>&nbsp;Chat</a></li>
      <li class='nav-item dropdown'><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <i class="bi bi-person-circle"></i>&nbsp; Bio
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" style='color:rgb(6, 81, 143) !important;'>{{user_id.first_name}}</a></li>
            <li><a class="dropdown-item" href="#" style='color:rgb(6, 81, 143) !important;'>{{user_id.email}}</a></li>
              <li><a class="dropdown-item " data-bs-toggle="modal" data-bs-target="#updateBio"  onclick="loadFormModal(1,1);"> <span class='btn btn-primary' type='button'>Update Bio</span></a>
                  
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><button class='btn btn-danger' id='logout'><i class='bi bi-power'></i> </button></li>
            <li><a class="dropdown-item"><i>version:Ty-1.1</i></a></li>
          </ul></li>
      <li class='nav-item'>  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-check"></i>&nbsp;verification
          </a>
          <ul class="dropdown-menu">
            {% if user_id.verify_email is 0 %}
                <li><a class="dropdown-item" href="#" style="color:rgb(6, 81, 143) !important;">{{user_id.email}}<span class='badge bg-danger'>Not-verified</span></a></li>
            {% endif %}</ul></li>
      <li class='nav-item'><a class="nav-link " aria-current="page" href="{% url "games" %}"><i class="bi bi-controller"></i>&nbsp;Game </a></li>
      <li Class='nav-item pointer '><a class='nav-link dropdown '  data-bs-toggle="dropdown">settings</a>
        <ul class='dropdown-menu'>
        <li class='dropdown-item'><a> data insights</a></li>
        <li class='dropdown-item'><a> Time Spent</a></li>
        <li class='dropdown-item'><a>Preferences</a></li>
      </ul></li>

      </ul>
      <form class="d-flex" role="search" onsubmit="return false" id='formSearch'>
         
        <input class="form-control me-2" type="search" placeholder="Search by blog title" aria-label="Search" name="search" id='search'> 
        <button class="btn btn-success"  onclick='searchBlog()'  data-bs-target="#modal-search" data-bs-toggle="modal">Search</button>
         {% csrf_token %}
      </form>
      <div class='panel panel-default ms-3'>
        
        <img src={{urls.profile_img.url}} style='height:36px;width:36px; border-radius: 20%;cursor:pointer' id='preview' onclick='preview(350,276,20)' data-bs-toggle="modal" data-bs-target="#preview-modal">


        
      </div>
      <div><a style="cursor:pointer;" href="{% url "forum" %}"><i class="bi bi-arrow-clockwise"></i></a></div>
    </div>
  </div>
</nav>


