{%extends "index.html" %}
{% load static %}
{% block page-content %}

<div class='container'>
    {% include "general/header_footer/header.html" %}
    <div class='row'>
        <div class='col-sm-4'>
            <h3>Your friends</h3>
        </div><div class='col-sm-8'>
    <div class='card'>
        <div class='card-title'></div>
        <div class='card-body'>
            <div class=''><h3>direct message</h3></div>
        </div>
    </div></div>
</div>
</div>
<script src="{% static 'js/dasbuild.js' %}"></script>
{% endblock page-content%}
