<div class="modal fade" id="preview-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" data-bs-target="#org_img" data-bs-toggle='tab' id='raw_img'>Uploaded Image&nbsp;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-target="#crop_img" data-bs-toggle='tab'> Crop Image </a>
      </li>
     
    </ul>
        <div class='tab-content'>
          <div id='org_img' class='tab-pane active'>
            <div id='max-width'>

            </div>
          </div>
          <div id='crop_img' class='tab-pane '>
            <div id ='custom-crop-area' style='display:none;text-align-center'>
              <div style='position:relative;display:inline-block;overflow:hidden;'>
                <img id="target-img" style="max-width: 500px; display: block;" draggable="false">
                <div id='crop-box'></div>
                
              </div>
              <img id='profile-picture'>
            </div>
            
            <button class="btn btn-primary mt-2" onclick="cropIt(1,{{user_id.id}})">Cut & Upload</button>
            <canvas id="hidden-canvas" style="display:none;"></canvas>
            
          </div>
        </div>


        
        
          <div class='mt-3 '><button class='btn btn-secondary d-flex ms-auto me-auto' onclick="$('#hidden_img').click()">
            <span class=''>Upload a new image </span>
          </button>
         
          <input type='file' id='hidden_img' style='display:none;' onchange='uploadImg()'>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>